# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Виртуальные окружения
venv/
ENV/

# Файлы с окружением и секретами
.env
.env.local

# Логи
logs/
*.log

# Среды разработки
.idea/
.vscode/
*.swp
*.swo

# Replit-специфичные файлы
.replit
replit.nix
.upm/
.cache/